.hero {
  height: 100vh;
  background-image: url("../assets/hero/h1.png");
  background-size: cover;
  background-position: center;
  position: relative;
}
.hero-title {
  text-shadow: 0 8px 25px rgba(0,0,0,0.15);
}

 
.hero-overlay {
  height: 100%;
  background: linear-gradient(
    135deg,
    rgba(140, 90, 200, 0.9),
    rgba(190, 160, 240, 0.9)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 0 20px;
} 

.hero-overlay h5 {
  font-size: 18px;
  opacity: 0.8;
}

.hero-overlay h1 {
  font-size: 60px;
  font-weight: 700;
  margin: 10px 0;
}

.hero-overlay h1 span {
  opacity: 0.6;
}

.hero-overlay h3 {
  margin: 15px 0;
  font-weight: 500;
}

.hero-overlay p {
  max-width: 600px;
  line-height: 1.6;
  opacity: 0.9;
}

.hero-btn {
  margin-top: 30px;
  padding: 12px 30px;
  border-radius: 25px;
  border: none;
  background: #7025a2;
  color: white;
  font-size: 16px;
  transition: all 0.3s ease;
  text-decoration: none;
}

.hero-btn:hover {
  background: #4d0b6e;
  transform: translateY(-5px);
}

@media (max-width: 768px) {
  .hero-overlay h1 {
    font-size: 40px;
  }
}
